/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .text-dark {
    color: var(--dark-color);
  }
  
  .text-success {
    color: var(--success-color);
  }
  
  .text-danger {
    color: var(--danger-color);
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }